@use 'colors' as colors;
@use 'constants' as constants;

.summary-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.summary-cards {
  display: flex;
  gap: 20px;
}

.summary-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  background: colors.$color-background-card;
  border: 1px solid colors.$color-border-primary;
  border-radius: 8px;
  min-width: 150px;
}

.summary-value {
  // color: colors.$color-button-primary;
  color: colors.$color-font-primary;
  font-size: constants.$font-xxl;
  font-weight: constants.$font-weight-semibold;
}

.summary-label {
  color: colors.$color-font-muted;
  font-size: constants.$font-medium;
  margin-top: 8px;
}
