<dialog
  class="main-dialog"
  #create_todo_dialog
  appSafeCloseDialog
  [customSaveForm]="saveFormData"
  [customRestoreForm]="restoreFormData"
>
  <div class="todo-details-panel">
    <div class="panel-header">
      <h2>TODO</h2>
      <button class="save-btn" (click)="onFormSave($event)">Save</button>
    </div>

    <form [formGroup]="todoFormGroup" class="actual-form">
      <div class="form-group">
        <label for="control-description">Description<span class="required-astrick">*</span></label>
        <textarea
          id="control-description"
          formControlName="description"
          class="form-input"
          placeholder="Enter description"
          [class.error]="description.touched && description.dirty && description.invalid"
          spellcheck="false"
          autocomplete="off"
        ></textarea>
        @if ((description.touched && description.dirty) || showAllErrors) {
          @if (description.errors?.['required']) {
            <p class="field-error">First name is required</p>
          } @else if (description.errors?.['minlength']) {
            <p class="field-error">Description should be at least 2 characters long</p>
          } @else if (description.errors?.['maxlength']) {
            <p class="field-error">Description should be under 50 characters</p>
          }
        }
      </div>

      <div class="form-row">
        <div class="form-group half-width">
          <label for="control-deadline-date"
            >Deadline Date<span class="required-astrick">*</span></label
          >
          <input
            id="control-deadline-date"
            type="date"
            formControlName="deadlineDate"
            class="form-input"
            [class.error]="deadlineDate.touched && deadlineDate.dirty && deadlineDate.invalid"
          />
          @if ((deadlineDate.touched && deadlineDate.dirty) || showAllErrors) {
            @if (deadlineDate.errors?.['required']) {
              <p class="field-error">Deadline date is required</p>
            }
          }
        </div>

        <div class="form-group half-width">
          <label for="control-estimated-time"
            >Estimated Time <span class="required-astrick">*</span></label
          >

          <div class="custom-dropdown-for-estimated-time">
            <input
              type="number"
              class="form-input"
              placeholder="Add"
              formControlName="estimatedCompletionTimeMinutes"
              autocomplete="off"
              spellcheck="false"
              (focus)="showCustomDropdownForCompletionTimeSelection($event)"
              (blur)="onEstimatedTimeAssign($any($event.target).value)"
              (keydown.enter)="onEstimatedTimeAssign($any($event.target).value)"
              (input)="showDropdown = false"
              autocomplete="off"
              spellcheck="false"
            />
          </div>

          @if (showDropdown) {
            <div
              class="dropdown-options"
              [style.top.px]="dropdownTop"
              [style.left.px]="dropdownLeft"
              [style.width.px]="width"
            >
              <div
                class="dropdown-option"
                (mousedown)="onEstimatedTimeAssign(60)"
                (click)="showDropdown = false"
              >
                1 Hour
              </div>
              <div
                (mousedown)="onEstimatedTimeAssign(90)"
                class="dropdown-option"
                (click)="showDropdown = false"
              >
                1 Hour 30 Minutes
              </div>

              <div
                (mousedown)="onEstimatedTimeAssign(120)"
                class="dropdown-option"
                (click)="showDropdown = false"
              >
                2 Hour
              </div>
              <div
                (mousedown)="onEstimatedTimeAssign(150)"
                class="dropdown-option"
                (click)="showDropdown = false"
              >
                2 Hour 30 Minutes
              </div>
              <div
                (mousedown)="onEstimatedTimeAssign(180)"
                class="dropdown-option"
                (click)="showDropdown = false"
              >
                3 Hour
              </div>
            </div>
          }

          @if (
            (estimatedCompletionTimeMinutes.touched && estimatedCompletionTimeMinutes.dirty) ||
            showAllErrors
          ) {
            @if (estimatedCompletionTimeMinutes.errors?.['required']) {
              <p class="field-error">Estimated time is required</p>
            }
          }
        </div>
      </div>
    </form>
  </div>
</dialog>
