@if (ongoingTodo != null) {
  <app-ongoing-todo [ongoingTodo]="ongoingTodo"></app-ongoing-todo>
}

<div class="incomplete-todos-wrapper">
  <div class="incomplete-todos">
    @for (incompleteTodo of incompleteTodos; track $index) {
      <app-incomplete-todo
        [incompleteTodo]="incompleteTodo"
        (startTodo)="startTodo($event)"
        [ongoingTodoExists]="ongoingTodo != null"
      ></app-incomplete-todo>
    }

      <!-- [isInProgress]="
           incompleteTodo.status === 'IN_PROGRESS' || incompleteTodo.status === 'PAUSED'
           " -->
  </div>
</div>
