@use "constants" as constants;
@use "colors" as colors;

.screen-with-sidebars {
  height: calc(100vh - constants.$header-height);
  margin-top: constants.$header-height;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

app-left-sidebar {
    border-right: 1px solid colors.$color-border-primary;
    width: 60px;
}

app-right-sidebar {
    border-left: 1px solid colors.$color-border-primary;
    width: 300px;
}

.main-screen {
  flex-grow: 1;
  overflow: auto;
  scrollbar-gutter: stable;
}

.screen-with-sidebars {
    // padding: 0px 20px;
}


//if login, hide the sidebars
app-left-sidebar.login-page, app-right-sidebar.login-page {
    display: none;
}
