@use "constants" as constants;

.screen-with-sidebars {
  height: calc(100vh - constants.$header-height);
  margin-top: constants.$header-height;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

app-left-sidebar {
    border: 1px solid red;
    width: 60px;
}

app-right-sidebar {
    border: 1px solid green;
    width: 300px;
}

.main-screen {
  flex-grow: 1;
  overflow: auto;
  scrollbar-gutter: stable;
  border: 1px solid yellow;
}


//if login, hide the sidebars
app-left-sidebar.login-page, app-right-sidebar.login-page {
    display: none;
}
