@use 'colors' as colors;

.activity-cell {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  cursor: pointer;

  &.level-0 {
    background: colors.$color-background-secondary;
  }

  &.level-1 {
    background: #0e4429;
  }

  &.level-2 {
    background: #006d32;
  }

  &.level-3 {
    background: #26a641;
  }

  &.level-4 {
    background: #39d353;
  }
}
