@use "colors" as colors;
@use "constants" as constants;
@use "reset";


html,
body {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  background-color: colors.$color-background-main;
  scrollbar-gutter: stable; //reserves space for scrollbar even when not visible to prevent layout shift
}

