@use "colors" as colors;
@use "constants" as constants;
@use "reset";


html,
body  {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  color: colors.$color-font-primary;

  background-color: colors.$color-background-primary;
  scrollbar-gutter: stable; //reserves space for scrollbar even when not visible to prevent layout shift
}

button {
    font-family: Roboto, sans-serif !important;
}

/* Global scrollbar styling */
* {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: colors.$color-background-card;
  }

  &::-webkit-scrollbar-thumb {
    background: colors.$color-border-primary;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: colors.$color-background-input;
  }
}

