@use "colors" as colors;
@use "constants" as constants;
@use "reset";


html,
body  {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  color: colors.$color-font-primary;

  background-color: colors.$color-background-primary;
  scrollbar-gutter: stable; //reserves space for scrollbar even when not visible to prevent layout shift
}

button {
    font-family: Roboto, sans-serif !important;
}

